<!DOCTYPE html>
<html>
<head>
	<title>jBlog</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/css/styles.css">
	<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<!-- Font-Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/v4-shims.css">

</head>
<body>

<nav class="navbar navbar-transparent navbar-expand-lg navbar-light bg-light" id="Gnavbar" style="background-color: #DEE9F669;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">JBlog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home"><i class="fas fa-home"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/compose"><i class="fas fa-plus-circle"></i> Compose</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/about"><i class="fas fa-book-open"></i> About</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-3" type="search" placeholder="Search posts" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit" >Search</button>
      </form>&nbsp;&nbsp;&nbsp;&nbsp;
			<a class="nav-link active" href="/logout"><i class="fas fa-sign-out-alt"></i>Log out</a>
    </div>
  </div>
</nav>
