<%- include("partials/header"); -%>

<br>
<center>
<h2 class="display-4" >About</h2>
<hr style="width: 54%;">
<br>
<p class="fs-5">Our website was created to add posts and like them, and in the end you can see who has the most like.

<br>
<br>


<%- include("partials/footer"); -%>
